# 1. Import the necessary libraries for you to be able to query 4square API

In [1]:
import requests
import json
import pandas as pd
from getpass import getpass

# Get URL + api key + headers ------- Put here so we have to copy paste the key once
url = "https://api.foursquare.com/v3/places/search"

api_key = getpass("Enter token")

headers = {
    "accept": "application/json",
    "Authorization" : api_key}

# 2. Get names and location of the 10 coffee places by passing Ironhack as your location

In [2]:
# Define parameters
params = {
    "query" : "coffee",
    "ll" : "41.398583957440636,2.190031323389499", # Location Ironhack Barcelona
    "limit" : "10",
    "radius" : "1000" # 1km arround location
}

# Get the request
response = requests.get(url, headers=headers, params= params)
print(f"Status Code: {response.status_code}")

data = response.json()

# output
output = []

for coffee in data["results"]:
    output.append({"name" : coffee["name"], "address" : coffee["location"]["formatted_address"]})

pd.DataFrame(output)

Status Code: 200

,name,address
0,SKYE Coffee Co,"Calle Pamplona, 88 (C. de Pallars), 08018 Barc..."
1,Espacio 88,"Carrer Pamplona, 88, 08018 Barcelona Catalunya"
2,Cafeteria Industrial,"Calle de Pallars, 154, 08005 Barcelona Catalunya"
3,Nømad Frutas Selectas,"Calle de Pujades, 95 (C. de Badajoz), 08005 Ba..."
4,Syra Coffee Poblenou,"Calle de Pujades, 100 (C. d'Àlaba), 08005 Barc..."
5,Market Cuina Fresca,"Calle Badajoz, 83, 08005 Barcelona Catalunya"
6,Granja Mabel,"Marina, 114-116, 08018 Barcelona Catalunya"
7,Three Marks Coffee,"C. d'Ausiàs Marc, 151, 08013 Barcelona Catalunya"
8,Súper coffee & food store,"Carrer de Roc Boronat, 102 (Sancho d'Avila/ Al..."
9,De Pa i Xocolata,"Carrer de la Marina, 92, 08018 Barcelona Catal..."

# 3. Now get the 5 CLOSEST coffe places. Make use of params: limit, near?

In [10]:
# Define parameters
params = {
    "query" : "coffee",
    "ll" : "41.398583957440636,2.190031323389499", # Location Ironhack Barcelona
    "limit" : "5",
    "radius" : "1000" # 1km arround location
}

# Get the request
response = requests.get(url, headers=headers, params= params)
print(f"Status Code: {response.status_code}")

data = response.json()

output = []

for coffee in data["results"]:
    output.append({"name" : coffee["name"], "address" : coffee["location"]["formatted_address"]})

pd.DataFrame(output)

Status Code: 200

                    name                                            address
0         SKYE Coffee Co  Calle Pamplona, 88 (C. de Pallars), 08018 Barc...
1             Espacio 88     Carrer Pamplona, 88, 08018 Barcelona Catalunya
2   Cafeteria Industrial   Calle de Pallars, 154, 08005 Barcelona Catalunya
3  Nømad Frutas Selectas  Calle de Pujades, 95 (C. de Badajoz), 08005 Ba...
4   Syra Coffee Poblenou  Calle de Pujades, 100 (C. d'Àlaba), 08005 Barc...

# 4. Define a function that returns name, lat, long for starbucks OR restaurants AND for any given location

In [ ]:
def foursquare_places (venue, coordinates):
    # Define parameters
    params = {
    "query" : venue,
    "ll" : coordinates,
    "limit" : "10"
    }

    # Get request
    response = requests.get(url, headers=headers, params= params)

    response_json = response.json()
    result = []

    # Gather necessary data
    for element in response_json['results']:
        name = element["name"]
        longitude = element['geocodes']['main']['latitude']
        latitude = element['geocodes']['main']['longitude']
        result.append({"name" : name, "longitude" : longitude, "latitude" : latitude})

    return pd.DataFrame(result)

# 5. Export it into data folder as a json: `data/coffe_shops.json`

In [14]:
# your code here
coordinates = "41.398583957440636,2.190031323389499" # Location Ironhack Barcelona
venue = "coffee" 

result = foursquare_places(venue, coordinates)
result.to_json("data/coffe_shops.json")

# BONUS: load it into MongoDB in a collection named "ironcoffee" using pymongo

In [ ]:
# your code here